body {
	margin: 0px;
	background-color: #262626;
}
#container {
	position: absolute;
	left: 10px;	
	right: 10px;
	top: 32px;
	bottom: 32px;
}
#rightmenu {
	position: absolute;
	width: calc( 100% - 300px);
	height: auto;
	min-height: 100%;
	min-width: 1100px;
	margin-left: 305px;
	background-color: #1B1B1B;
}
#leftmenu {
	position: absolute;
	width: 300px;
	height: 100%;
	min-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #1B1B1B;
}
#leftmenu ul {
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#leftmenulist div.selected {
	background-color: #193754;
	color: #FFF;
}
#leftmenulist div#button {
	display: block;
	font-family: "Arial";
	font-size: 12px;
	color: #CFCFCF;
	text-decoration: none;
	text-indent: 6px;
	padding-top: 3px;
	width: 100%;
	height: 15px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;  
	user-select: none; 
}
#leftmenulist div#button:hover {
	color: #FFF;
}
#rightmenu div.content {
	position: relative;
	display: none;
	font-family: "Aldrich";
	font-size: 16px;
	color: #CFCFCF;
	text-decoration: none;
	margin-top: 16px;
}
#rightmenu p {
	float: none;
	padding: 2px;
	margin: 0px;
	word-wrap: break-word;
	overflow: hidden;
}
#rightmenu div.active {
	display: block;
}
#rightmenu img#preview {
	margin-left: 16px;
	margin-right: 16px;
	float: left;
	width: 300px;
	height: 512px;
	background-color: #CFCFCF;
	border: 4px solid #262626;
}
#rightmenu p.header1 {
	color: #FFF;
	font-size: 30px;
	text-align: center;
	text-indent: 0px;
}
#rightmenu p.header2 {
	font-size: 20px;
	text-align: center;
	text-indent: 0px;
}
#rightmenu p#left {
	float: left;
}
#rightmenu p#right {
	float: right;
	width: 40%;
	text-align: left;
	color: #FFBB3D;
}
#rightmenu p#red {
	color: #CD2727;
}